        @import 'variable';
        @media screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 300dpi) {
        .icon{
        font-size:2rem;
        background-image: url('../images/sprite.png');
        background-size: join(unit(73/$baseSize*2,em),unit(988/$baseSize*2,em));
        }
        }
        .icon {
        font-size:1rem;
        background-image: url('../images/sprite.png');
        background-size: join(unit(73/$baseSize,em),unit(988/$baseSize,em));
        }

        .icon-search {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(0/$baseSize,em)));
        width: unit(15/$baseSize,em);
        height: unit(15/$baseSize,em);
        }
        .icon-clock {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(15/$baseSize,em)));
        width: unit(15/$baseSize,em);
        height: unit(15/$baseSize,em);
        }
        .icon-user {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(30/$baseSize,em)));
        width: unit(18/$baseSize,em);
        height: unit(18/$baseSize,em);
        }
        .icon-eye_active {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(48/$baseSize,em)));
        width: unit(22/$baseSize,em);
        height: unit(18/$baseSize,em);
        }
        .icon-server {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(66/$baseSize,em)));
        width: unit(18/$baseSize,em);
        height: unit(18/$baseSize,em);
        }
        .icon-voice {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(84/$baseSize,em)));
        width: unit(18/$baseSize,em);
        height: unit(18/$baseSize,em);
        }
        .icon-right {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(102/$baseSize,em)));
        width: unit(11/$baseSize,em);
        height: unit(18/$baseSize,em);
        }
        .icon-price {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(120/$baseSize,em)));
        width: unit(18/$baseSize,em);
        height: unit(18/$baseSize,em);
        }
        .icon-eye {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(138/$baseSize,em)));
        width: unit(22/$baseSize,em);
        height: unit(18/$baseSize,em);
        }
        .icon-share {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(156/$baseSize,em)));
        width: unit(20/$baseSize,em);
        height: unit(19/$baseSize,em);
        }
        .icon-hot {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(175/$baseSize,em)));
        width: unit(20/$baseSize,em);
        height: unit(20/$baseSize,em);
        }
        .icon-lock {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(195/$baseSize,em)));
        width: unit(19/$baseSize,em);
        height: unit(21/$baseSize,em);
        }
        .icon-user-1 {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(216/$baseSize,em)));
        width: unit(19/$baseSize,em);
        height: unit(21/$baseSize,em);
        }
        .icon-domestic {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(237/$baseSize,em)));
        width: unit(22/$baseSize,em);
        height: unit(22/$baseSize,em);
        }
        .icon-international {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(259/$baseSize,em)));
        width: unit(22/$baseSize,em);
        height: unit(22/$baseSize,em);
        }
        .icon-stock_active {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(281/$baseSize,em)));
        width: unit(22/$baseSize,em);
        height: unit(22/$baseSize,em);
        }
        .icon-stock {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(303/$baseSize,em)));
        width: unit(22/$baseSize,em);
        height: unit(22/$baseSize,em);
        }
        .icon-pass {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(325/$baseSize,em)));
        width: unit(22/$baseSize,em);
        height: unit(22/$baseSize,em);
        }
        .icon-phone {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(347/$baseSize,em)));
        width: unit(22/$baseSize,em);
        height: unit(22/$baseSize,em);
        }
        .icon-digital {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(369/$baseSize,em)));
        width: unit(22/$baseSize,em);
        height: unit(22/$baseSize,em);
        }
        .icon-domestic_active {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(391/$baseSize,em)));
        width: unit(22/$baseSize,em);
        height: unit(22/$baseSize,em);
        }
        .icon-digital_active {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(413/$baseSize,em)));
        width: unit(22/$baseSize,em);
        height: unit(22/$baseSize,em);
        }
        .icon-international_active {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(435/$baseSize,em)));
        width: unit(22/$baseSize,em);
        height: unit(22/$baseSize,em);
        }
        .icon-prev {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(457/$baseSize,em)));
        width: unit(22/$baseSize,em);
        height: unit(28/$baseSize,em);
        }
        .icon-date {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(485/$baseSize,em)));
        width: unit(28/$baseSize,em);
        height: unit(28/$baseSize,em);
        }
        .icon-close {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(513/$baseSize,em)));
        width: unit(30/$baseSize,em);
        height: unit(30/$baseSize,em);
        }
        .icon-back3 {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(543/$baseSize,em)));
        width: unit(31/$baseSize,em);
        height: unit(31/$baseSize,em);
        }
        .icon-qq {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(574/$baseSize,em)));
        width: unit(32/$baseSize,em);
        height: unit(32/$baseSize,em);
        }
        .icon-cs {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(606/$baseSize,em)));
        width: unit(32/$baseSize,em);
        height: unit(32/$baseSize,em);
        }
        .icon-avatar {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(638/$baseSize,em)));
        width: unit(58/$baseSize,em);
        height: unit(58/$baseSize,em);
        }
        .icon-normal {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(696/$baseSize,em)));
        width: unit(73/$baseSize,em);
        height: unit(73/$baseSize,em);
        }
        .icon-sim {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(769/$baseSize,em)));
        width: unit(73/$baseSize,em);
        height: unit(73/$baseSize,em);
        }
        .icon-alert {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(842/$baseSize,em)));
        width: unit(73/$baseSize,em);
        height: unit(73/$baseSize,em);
        }
        .icon-warn {
        background-position: join( -(unit(0/$baseSize,em)),-(unit(915/$baseSize,em)));
        width: unit(73/$baseSize,em);
        height: unit(73/$baseSize,em);
        }
